@typeparam TValue

<div class="input-group">
    <input class="form-control" @attributes="Attributes" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" @onclick="Search_Click">
            <span class="oi oi-magnifying-glass" style="vertical-align: text-top;"></span>
        </button>
    </div>
</div>
