<div @onclick="InternalClickEvent" oncontextmenu="return false;" @onmouseup="InternalMouseUpEvent">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Action OnClick { get; set; }
    [Parameter] public Action OnDoubleClick { get; set; }
    [Parameter] public Action OnRightClick { get; set; }
    [Parameter] public int Timeout { get; set; } = 300;

    int clickCount;

    private async Task InternalClickEvent(MouseEventArgs args)
    {
        clickCount++;

        if (clickCount == 2)
        {
            clickCount = 0;
            OnDoubleClick?.Invoke();
        }
        else
        {
            // TODO: Start timeout on single click
            await Task.Delay(Timeout).ContinueWith((task) =>
            {
                clickCount = 0;
                OnClick?.Invoke();
            });
        }
    }

    private void InternalMouseUpEvent(MouseEventArgs args)
    {
        if (args.Button == 2)
        {
            OnRightClick?.Invoke();
        }
    }
}
